*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/informations/GetInformation.java
/app/src/main/java/info/WebScrap.java
/app/src/main/java/com/example/bustickets/info/
/app/src/main/java/com/example/bustickets/PayPal.java
/app/src/main/res/layout/activity_pay_pal.xml
